<% provide(:title, 'Log In') %>
<div class="row">
  <div class="span6 offset3">
    <h1>Log In</h1>

    <%= form_tag sessions_path do %>

	    <%= label_tag :email %>
	    <%= text_field_tag :email, params[:email] %>

	    <%= label_tag :password %>
	    <%= password_field_tag :password %>

      <%= submit_tag "Log In", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>