<% provide(:title, 'Sign up') %>
<div class="row">
  <div class="span6 offset3">
    <h1>Sign up</h1>
    <p>The first step to signing up for a class is registering with the site. Please use your actual email address. You will need to confirm it before you can register for a class.</p>

    <hr />

    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation %>
      
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>