    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "classes by mullaney", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "about",   about_path %></li>
              <li><%= link_to "classes", classes_path %></li>
              <% if current_user %>
                <li><%= link_to "log out", logout_path %></li>
              <% else %>
                <li><%= link_to "sign up", new_user_path %></li>
                <li><%= link_to "log in",  new_session_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
