    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "classes by mullaney", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "home",    root_path %></li>
              <li><%= link_to "about",   about_path %></li>
              <li><%= link_to "classes", classes_path %></li>
              <li><%= link_to "contact", contact_path %></li>
              <li><%= link_to "sign in", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
